.navbar{
    background-image: linear-gradient(to right,  rgb(31, 31, 28),rgb(59, 56, 56));
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    margin-top: 2.5vw;
    border-radius: 10px;
    padding: 0  2vw 0 2vw;
    overflow: hidden;
}
.header{
    color: white;
}
.option{
    display: flex;
    align-items: center;
    gap:2vw;
}

.option-icon{
    display: none;
}

.drawer{
    height: 100vh;
    width: 70vw;
    color:aliceblue;
     font-size: 25px;
     text-align: center;

}

.drawer ul{
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    height: 100vw;
    padding-left: 0;
}


@media only screen and (max-width:900px){
    .option{
        display:none;
        align-items: center;
        gap:2vw;
    }
    .header{
        display: none;
    }
    .option-icon{
        display: initial;
    }
    .navbar{
        background-color: rgb(21, 32, 21);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90vw;
        margin-top: 2.5vw;
        border-radius: 10px;
        padding: 0  2vw 0 2vw;
    }
}